agent: DRQNAgent
method: DRQN
train:
  learning_steps: 100000  # distributed across multiple collection envs
  collector_env_num: 8
  evaluator_env_num: 5
  n_evaluator_episode: 5
  # Default hyperparameters used during training, note these are overridden when loading
  # the hyperparameters from a Ray Tuner experiment
  hyperparameters:
    encoder_hidden_size_list: [512, 512]  # FC layers
    batch_size: 32
    gamma: 0.95
    lr: 0.0001
    n_sample: 64
    num_epochs: 10
    # DRQN specific hyperparams
    burnin_step: 5
    eps_decay: 100000
    replay_buffer_size: 100000
    target_update_freq: 100
    td_steps: 3
ray_config:  # TODO: move this to `tune` and remove `ray_config`
  # Define computational resources necessary for running a single trial (or training process)
  resources:
    - CPU: 8  # local bundle
#    - CPU: 8  # cluster bundle
#      GPU: 1
#    - CPU: 10  # tune bundle
#      GPU: 0.2
tune:
  config:
    num_samples: 100  # number of trials
    max_concurrent_trials: 8
    reuse_actors: True
    mode: max
    metric: val_episode_return_mean
  search_space:
    conditions: []
    forbiddens: []
    hyperparameters:
    - name: gamma
      type: categorical
      choices: [.9, .95, .98, .99, .995, .999, .9999]
      default_value: 0.9
      weights: null
    - name: lr
      type: categorical
      choices: [0.001, 0.0001, 0.00001]
      default_value: 0.0001
      weights: null
    - name: num_epochs
      type: categorical
      choices: [1, 5, 10, 20]
      default_value: 5
      weights: null
    - name: n_sample
      type: categorical
      choices: [16, 32, 64, 128]  # in DRQN the number of env steps per train iteration = n_sample * unroll_len
      default_value: 32
      weights: null
    - name: batch_size
      type: categorical
      choices: [16, 32, 64, 128]
      default_value: 32
      weights: null
    # DRQN specific hyperparameters
    - name: td_steps
      type: categorical
      choices: [2, 3, 5]
      default_value: 2
      weights: null
    - name: target_update_freq
      type: categorical
      choices: [10, 20, 50, 100]
      default_value: 20
      weights: null
    - name: burnin_step
      type: categorical
      choices: [1, 3, 5, 10]
      default_value: 3
      weights: null
    - name: eps_decay
      type: categorical
      choices: [1000, 10000, 100000]
      default_value: 100000
      weights: null
    - name: replay_buffer_size
      type: categorical
      choices: [1000, 10000, 100000]
      default_value: 1000
      weights: null
    name: null
